.nav_button { 
	display: flex;
	align-items: center;
	border-radius: 0.75rem;	
    padding: 1rem;
}

.nav_button:hover, .highlight { 
	background-color: rgba(255, 255, 255, 0.1);
}

.nav_button:hover { 
	cursor: pointer;
}
