.inventory {
	display: flex;
    flex-direction: column;
    
    color: black;
    flex: 1;
    margin: 0 3rem;
    font-family: 'Poppins', sans-serif;
}

.header {
	display: flex;
    justify-content: space-between;
    align-items: center;
                                                  
    padding: 1.5rem 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.07);
    
    section { 
    	display: flex;
	   	align-items: center;
                                                  
    	gap: 0.75rem;
    }
}

.search_bar { 
	width: 50%;
}

.seperator {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form_container {
	display: flex;
	border: 1px solid black;	
}

.image_section {
  flex: 1; 
  justify-content: center;
  align-items: center;
	border: 1px solid black;
}

.details_section {
  flex: 1;
  display: flex;
  flex-direction: column;
	gap: 1rem;
}

.input_container {
	padding: 0.25rem;
	border: 1px solid lightgrey;
	border-radius: 0.5rem;

	p {
		font-size: 0.5rem;
	}

	input, textarea {
		font-size: 0.75rem;
	}
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
