.inventory {
	display: flex;
    flex-direction: column;
    
    color: black;
    flex: 1;
    margin: 0 3rem;
    font-family: 'Poppins', sans-serif;
}

.header {
	display: flex;
    justify-content: space-between;
    align-items: center;
                                                  
    padding: 1.5rem 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.07);
    
    section { 
    	display: flex;
	   	align-items: center;
                                                  
    	gap: 0.75rem;
    }
}

.search_bar { 
	width: 50%;
}

.seperator {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
