@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main { 
	display: flex;
	flex-direction: column;
	
	color: black;
	flex: 1;
	margin: 0 3rem;
}

.header { 
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1.5rem 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.07);
	
	section { 
		display: flex;
		align-items: center;

		gap: 0.75rem;
	}
}

.search_bar { 
	width: 50%;
}

.user { 
	display: inline-block;
	color: #8593ED;
}

.dashboard_content { 
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 1rem;
	flex: 1;
	padding: 0 20%;	
}

.summary { 
	display: flex;
	
	gap: 1rem;	
	width: 100%;

	div { 
		display: flex;
		align-items: center;
		flex: 1;
		
		gap: 0.5rem;
		font-size: 1.1rem;
		font-family: 'Poppins', sans-serif;
		position: relative;
		overflow: hidden;
	}	
	
	div::after { 
		content: '';
  		position: absolute;
  		bottom: 0;
  		left: 0;
  		height: 3px;
  		width: 100%;
	}
}

.item_summary::after { 
  	background-color: #4283de;
}

.box_summary::after {
	background-color: #f9ad01;
}

.inventory_summary::after { 
	background-color: #895bba;
}

.revenue_summary::after { 
	background-color: #e76500;
}

.recent_updates { 
	width: 100%;
	height: 50%;
}
