@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main { 
	display: flex;
	flex-direction: column;
	
	color: black;
	flex: 1;
	margin: 0 3rem;
	font-family: 'Poppins', sans-serif;
}
