:root {
  --color-primary: #788bff;
  --color-secondary: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
	
html {
	scroll-behavior: smooth;
}

body {
	font-family: "Inter", sans-serif;
	color: white;
}

button:hover, a:hover {
	cursor: pointer;	
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}
